body {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: rgb(37, 167, 205);
}

#startScreen img {
    height: 480px;
    width: 720px;
}

.start-screen {
    position: relative;
    height: 100%;
    width: 100%;
}

.start-btn {
    position: absolute;
    bottom: 24px;
    left: 320px;
    height: 3rem;
    width: 8rem;
    border: none;
    border-radius: 5px;
    background: rgb(203 127 4);
    font-weight: 900;
    cursor: pointer;
}

.start-btn:hover {
    background: rgb(153, 96, 5);
}

.start-btn:active {
    transform: translateY(4px);
}

canvas {
    background: black;
    display: none;
}